<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <title>Trang chủ</title>
</head>



<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="font-size: 2em;"><i class="fa-solid fa-house"
                        style="font-size: 1em;"></i>
                    ShopVie
                </a>
                <div class="d-flex justify-content-end collapse navbar-collapse">
                    <form action="/search" method="post" class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Tên sản phẩm" name="search">
                        &nbsp;
                        <button class="btn btn-outline-primary" style="width: 150px;" type="submit">Tìm kiếm</button>
                    </form>
                    <div class="dropdown custom-dropdown pl-3">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-gear"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a title="Đăng nhập" class="dropdown-item" href="/login"><i
                                        class="fa-solid fa-power-off"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <% if (messages.error) { %>

            <div class="gallery" id="product">
                <div class="card text-center">
                    <div class="card-header alert alert-danger" role="alert">
                        <%= messages.error %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="color: red;">Sản phẩm không tồn tại hoặc từ khóa tìm kiếm không
                            chính xác</h5>
                        <p class="card-text">Vui lòng thử lại hoặc </p>
                        <a href="/" class="btn btn-primary">Về trang chủ</a>
                    </div>
                    <div class="card-footer text-body-secondary" id="current-time">

                    </div>
                </div>
            </div>

            <% } %>

<<<<<<< HEAD
                <div class="gallery" id="product">
                    <% if(products.length> 0) { %>
                        <% products.forEach(product=> { %>
                            <div class="content">
                                <img src="<%= product.img %>" alt="">
                                <h3>
                                    <%= product.name %>
                                </h3>
                                <p>
                                    <%= product.content %>
                                </p>
                                <h5>
                                    <%= product.price %>.000 VND
                                </h5>
                                <ul>
                                    <% for(let i=0; i < product.star; i++) { %>
                                        <li><i class="fa-solid fa-star checked"></i></li>
=======
        <div class="gallery" id="product">
            <% if(products.length> 0) { %>
                <% products.forEach(product=> { %>
                    <div class="content">
                        <img src="<%= product.img %>" alt="">
                        <h3>
                            <%= product.name %>
                        </h3>
                        <p>
                            <%= product.content %>
                        </p>
                        <h5>
                            <%= product.price %>.000 VND
                        </h5>
                        <ul>
                            <% for(let i=0; i < product.star; i++) { %>
                                <li><i class="fa-solid fa-star checked"></i></li>
                                <% } %>
                                    <% for(let i=0; i < 5 - product.star; i++) { %>
                                        <li><i class="fa-regular fa-star"></i></li>
>>>>>>> 08239cf9b847d75c2be20f1bf3597372514c049f
                                        <% } %>
                                            <% for(let i=0; i < 5 - product.star; i++) { %>
                                                <li><i class="fa-regular fa-star"></i></li>
                                                <% } %>
                                                    <li>
                                                        <%= product.review %> (reviews)
                                                    </li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" name="cart" value="<%= product.content %>">
                                    Thêm vào giỏ
                                </button>
                            </div>
                            <% }) %>
                                <% } %>
                </div>

                <footer>
                    <div class="wrapper-footer">
                        <div class="footer-content">
                            <h3>Thông tin nhóm</h3>
                            <p>Tên nhóm: G9</p>
                            <p>Mã nhóm: 10</p>
                            <p>Lớp: Nhập môn công nghệ phần mềm - 21CLC03</p>
                        </div>
                        <div class="footer-content" style="text-align: start;">
                            <h3>Các thành viên</h3>
                            <p>20127293 - Quí Nguyễn Phước Định Quân</p>
                            <p>21127153 - Nguyễn Huỳnh Phú Quí</p>
                            <p>21127335 - Sầm Phan Hoài Lâm</p>
                            <p>21127406 - Trần Đình Quang</p>
                        </div>
                    </div>
                    <div class="bottom-bar">
                        <p>&copy; 2023 ShopVie. Đã đăng ký bản quyền</p>
                    </div>
                </footer>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Nhắc nhở</h1>
                                <button style="color: red;" type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"><i class="fa-solid fa-x"></i></button>
                            </div>
                            <div class="modal-body">
                                Bạn phải đăng nhập trước khi tiến hành thao tác tiếp theo.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                                <form action="/login" method="get">
                                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <script>
        function updateCurrentTime() {
            let currentTimeElement = document.getElementById('current-time');
            let currentTime = new Date();
            let hours = currentTime.getHours();
            let minutes = currentTime.getMinutes();
            let seconds = currentTime.getSeconds();
            let timeString = 'Lịch sử tìm kiếm: ' + hours + ' giờ' + ' : ' + minutes + ' phút ' + ' : ' + seconds + ' giây';
            currentTimeElement.innerHTML = timeString;
        }
        updateCurrentTime();
    </script>
</body>

</html>